#conformity-list .list-container {
	height: 40px;
	overflow: hidden;
	position: relative;
}
#conformity-list .list-container > div {
	position: absolute;
	top: 0;
	white-space: nowrap;
}
#conformity-list .list-container .list-title {
	top: 20px;
}
